@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans&family=Roboto&family=Roboto+Slab:wght@300;500&display=swap');

:root {
    --neutral: #e7e5df;
    --accent: #832161;
    --neutaccent: #CAC4CE;
    --main-dark: #3C104B;
    --main-light: #574CA9;
}
html,
body {
    margin: 0;
}
body {
    background-color: var(--neutral);
    font-family: 'Montserrat', sans-serif;
    

    /* font-family: 'Open Sans', sans-serif; */

    /* font-family: 'Roboto', sans-serif; */

    /* font-family: 'Roboto Slab', serif; */
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}
.project1 {
    grid-area: 1/3/3/4;
}
.project2 {
    grid-area: 3/3/5/4;
}
.project3 {
    grid-area: 5/3/7/4;
}
.left-side {
    grid-area: 1/2/7/3;
}

h1 {
    margin: 0;
    font-size: 1.4em;
}
img {
    max-width: 400px;
}
.card {
    display: flex;
}
.proj-side {
    max-width: 300px;
}


/* CONTACT */
.contact-form > form {
    display: flex;
    flex-direction: column;
}
.contact-form {
    display: none;
}
.show {
    display: block;
}


/* Organize buttons in Projects */
.buttons > form {
    display: inline;
}

/* Just for fun */
button {
    appearance: none;
    border: none;
    background-color: var(--accent);
    border-radius: 8px;
    padding: 10px;
    color: white;
}
button:hover {
    color: var(--accent);
    background-color: white;
}