@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500');

:root {
    --neutral: #e7e5df;
    --accent: #832161;
    --neutaccent: #CAC4CE;
    --main-dark: #3C104B;
    --main-light: #574CA9;
}
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--neutral);
    font-family: 'Montserrat', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.25em;
}
main {
    margin: 1.5em;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(9, 1fr); 
    gap: 1em;
    height: 100%;

    animation: fadein 2.24s;
    animation-timing-function: ease-in;
}
.left {
    grid-column: 1/7;
    grid-row: 2/8;
    
}
.right {
    grid-column: 8/19;
    grid-row: 2/11;
}




/* GENERAL */
h1 {
    margin: 0;
    font-size: 1.6em;
}
.diff-line {
    display: block;
}
.sasha {
    font-style: italic;
}
img {
    max-width: 450px;
}
a {
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    color: var(--accent);
}
a:hover {
    animation: towhite 0.5s forwards;
    
}


/* just for fun */
/* .bg-box1 {
    background-color: blue;
    width: 100%;
    height: 100%;
    grid-area: 2/2/6/10;
    z-index: -1;
    opacity: 40%;
}
.bg-box2 {
    background-color: red;
    width: 100%;
    height: 60%;
    grid-area: 1/1/3/8;
    z-index: -1;
    opacity: 60%;
} */



.card {
    display: flex;
    gap: 2em;
    font-size: 0.75em;
}
/* Remove a styling from imgs in cards */
.card > a {
    border: none;
    color: none;
    animation: none;
}
.card > a:hover {
    border: none;
    color: none;
    background: none;
    animation: none;
}
.proj p {
    margin: 0;
    
}
.links {
    margin-top: 0.8em;
}
.links > a {
    margin-right: 2em;
}





/* + fizzbuzz fun */
.fzbz {
    grid-column: 1/-1;
    grid-row: -3/-2;
    font-size: 4em;
    width: 100%;
}
.fzbz div {
    display: inline-block;
    font-size: inherit;
}
.fzbz button {
    appearance: none;
    border: none;
    background: none;
    font-size: 1em;
}
.fzbz button:hover {
    color: white;
}
.fadeon {
    animation: num 1s;
}
.fadeon-fz {
    animation: fz 1s;
}
.fadeon-bz {
    animation: bz 1s;
}
.fadeon-fz-bz {
    animation: fzbz 1s;
}



/* Animations */

@keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@keyframes towhite {
    from {background-color: var(--main-dark);
        color: white;
        border: 1px solid var(--main-dark);
        }
    to {background-color: white;
    color: var(--main-dark);
    border: 1px solid white;}
}
@keyframes num {
    from {color: blue;}
    to {color: black;}
}
@keyframes fzbz {
    from {color: red;}
    to {color: black;}
}
@keyframes fz {
    from {color: rgb(0, 215, 0);}
    to {color: black;}
}
@keyframes bz {
    from {color: yellow;}
    to {color: black;}
}

/* RESPONSIVE */

@media (min-width: 1400px) {
    main {
        width: 1400px;
    }
    .proj-side {
        max-width: 600px;
    }
    .left {
        margin-top: 2em;
    }
    .wpos-small {
        display: none;
    }
    .wpos-large {
        display: inline;
    }
}
@media (max-width: 1400px) {
    main {
        display: flex;
        flex-direction: column;
        
    }

    .proj {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .proj-side {
        width: 100%;
    }
    img {
        max-width: 100%;
    }

    h1 {
        margin-top: 1em;
    }
    .wpos-small {
        display: inline;
    }
    .wpos-large {
        display: none;
    }
}
@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
    .card {
        flex-direction: column;
        width: fit-content;
    }
    .proj {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .proj-side {
        width: 100%;
    }
    img {
        max-width: 100%;
    }
    h1 {
        margin-top: 1em;
        font-size: 1.2em;
    }
    .wpos-small {
        display: inline;
    }
    .wpos-large {
        display: none;
    }

    .fzbz {
        text-align: center;
    }
    .fzbz div {
        display: block;
    }
}