html,
body {
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    background-color: rgb(223, 223, 223);

    height: min(5vh, 50px);

    z-index: 1;

    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
main {
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
section {
    height: 100vh;
    width: 100%;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
h1 {
    font-size: 5em;
    margin-bottom: 0;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 2em;
    text-align: right;
    margin-top: 0;
}


.hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(76deg, purple, blue);


    transform: skewY(-7deg) translateY(-15vh);
    
    /* header above */
    z-index: -1;
}
.content {
    max-width: 70em;
    margin: 0 auto;
    margin-top: 7.5vh;
    /*margin-left: 10vw;*/
    position: relative;
    color: white;
}
.content > div {
    max-width: fit-content;
}