html,
body {
    margin: 0;
}

body {
    background-color: #e7e5df;
    z-index: 0;
}
header {
    position: sticky;
    top: 0;
    background-color: rgb(223, 223, 223);

    height: min(5vh, 50px);

    z-index: 1;

    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    background-color:#832161;
    height: 50px;
    text-align: center;
    z-index: 998;
    position: relative;
}

button {
    color: #832161
}
main {
    height: 100%;
    width: 100%;
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;


    
}
section {
    height: 100vh;
    width: 100vw;
    background-color: #e7e5df;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background: none;
}
h1 {
    font-size: 5em;
    margin-bottom: 0;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 2em;
    text-align: right;
    margin-top: 0;
}


.hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(76deg, #3C104B, #574CA9);


    transform: skewY(-7deg) translateY(-15vh);
    
    /* header above */
    z-index: -1;

    box-shadow: 0px 0px 20px rgb(66, 66, 66);
}


.cont-bg {
    height: 115vh;
    /* background: linear-gradient(76deg, #3C104B, #574CA9); */


    transform: skewY(-7deg) translateY(0vh);
    
    /* header above */
    z-index: 1;

    /* box-shadow: 0px 0px 20px rgb(66, 66, 66); */
}
.contact {
    background: linear-gradient(76deg, #3C104B, #574CA9);
    position: relative;
    /* top: -115vh; */
    z-index: 998;
}


.content {
    max-width: 70em;
    margin: 0 auto;
    margin-top: 7.5vh;
    /*margin-left: 10vw;*/
    position: relative;
    color: white;
}
.content > div {
    max-width: fit-content;
}

.proj {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 20vw;
    font-size: 0.6em;
    align-self: center;
}
.card img {
    width: 100%;
}




/* Scroll Dots */

.dots li a::before {
    background: #CAC4CE;
}
.dots li a.active::before {
    background: #832161;
}